/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2018, 4:15:33 PM
    Author     : Oksana_Miller
*/

body{
    background-image: url('icons/fruits.jpg');
    background-size: cover;
}

div
{
   text-align: center;  
}

button{
    height:60px;
    width: 60px;
    margin: auto;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    border: inset 1px white;
    background-color: whitesmoke;
}
img{
    height:50px;
    width: 50px;   
}

.table-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
p{
    margin: 0;
}
em{
    background-color: whitesmoke;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: orange;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 1px 3px;
  background-color: orange;
  color: white;
}
.github-wrapper{
    display: flex;
    justify-content: center;
}
.github {
  background-color: orange;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.github:focus,
.github:hover {
  background-color: darkorange;
  color: White;
}
@media only screen and (max-width: 480px) {
    button{
        height:50px;
        width: 50px;    
    }
    img{
        height:30px;
        width: 30px; 
    }
    #gameheader{
        background-color: white;
        opacity: 0.8;
    }

}

@media only screen and (max-width: 320px) {
    button{
        height:40px;
        width: 40px;    
    }
    img{
        height:30px;
        width: 30px; 
    }
    
    #gameheader{
        background-color: white;
        opacity: 0.8;
    }
}
